<div class="row">
  <div class="col-md-12">
    <h2>Podobne produkty:</h2>
  </div>
</div>
<div class="row">

  {% comment %} Iteruje po wszystkich, i wyklucza ten o ktorym jest dana strona - czyli pokazuje wszystkie pozostale {% endcomment %}

  {% for karta in site.produkty.karty %}
    {% if page.configKey != karta[0] %}
      <div class="col-md-4 karty-box-column">
        <a href="{{ karta[1].url}}"><img src="/img/{{ karta[1].img }}-box.jpg"></a>
      </div>
    {% endif %}
  {% endfor %}

</div>

