<div class="row">
  {% if site.produkty.karty[page.configKey] != pierwszy-rok-zwierzeta-39 %}
  <div class="col-md-4">
    <a href="{{site.produkty.karty.pierwszy-rok-zwierzeta-39.url}}"><img src="/img/kpl-1-tease.jpg"></a>
  </div>
  {% endif %}
  {% if site.produkty.karty[page.configKey] != pierwszy-rok-zwierzeta-43 %}
  <div class="col-md-4">
    <a href="{{site.produkty.karty.pierwszy-rok-zwierzeta-43.url}}"><img src="/img/kpl-2-tease.jpg"></a>
  </div>
  {% endif %}
  {% if site.produkty.karty[page.configKey] != karty.moje-9-miesiecy %}
  <div class="col-md-4">
    <a href="{{site.produkty.karty.karty.moje-9-miesiecy.url}}"><img src="/img/kpl-3-tease.jpg"></a>
  </div>
  {% endif %}
  {% if site.produkty.karty[page.configKey] != pierwszy-rok-kontrastowe %}
  <div class="col-md-4">
    <a href="{{site.produkty.karty.pierwszy-rok-kontrastowe.url}}"><img src="/img/kpl-4-tease.jpg"></a>
  </div>
  {% endif %}
</div>

