<div class="row">
  <div class="col-md-12">
    <h2>Podobne produkty:</h2>
  </div>
</div>
<div class="row">
  {% if page.configKey != 'pierwszy-rok-zwierzeta-39' %}
  <div class="col-md-4 karty-box-column">
    <a href="{{site.produkty.karty.pierwszy-rok-zwierzeta-39.url}}"><img src="/img/karty-do-zdjec-pierwszy-rok-zycia-dziecka-zwierzeta-39-kart-box.jpg"></a>
  </div>
  {% endif %}
  {% if page.configKey != 'pierwszy-rok-zwierzeta-43' %}
  <div class="col-md-4 karty-box-column">
    <a href="{{site.produkty.karty.pierwszy-rok-zwierzeta-43.url}}"><img src="/img/karty-do-zdjec-pierwszy-rok-zycia-dziecka-zwierzeta-43-karty-box.jpg"></a>
  </div>
  {% endif %}
  {% if page.configKey != 'moje-9-miesiecy' %}
  <div class="col-md-4 karty-box-column">
    <a href="{{site.produkty.karty.moje-9-miesiecy.url}}"><img src="/img/karty-do-zdjec-moje-9-miesiecy-ciaza-box.jpg"></a>
  </div>
  {% endif %}
  {% if page.configKey != 'pierwszy-rok-kontrastowe' %}
  <div class="col-md-4 karty-box-column">
    <a href="{{site.produkty.karty.pierwszy-rok-kontrastowe.url}}"><img src="/img/karty-do-zdjec-pierwszy-rok-zycia-dziecka-kontrastowe-box.jpg"></a>
  </div>
  {% endif %}

  {% for karta in site.produkty.karty %}

  {% if page.configKey == karta.key %}
    [{{ karta.header }}]
  {% endif %}

  {% endfor %}

</div>

