{% include header.html %}

    <div>
      <div class="row mb50">
        <div class="col-md-4 karty-box-column" id="homepage-karta-1">
          <a href="{{site.produkty.karty.pierwszy-rok-zwierzeta-39.url}}"><img src="/img/karty-do-zdjec-pierwszy-rok-zycia-dziecka-zwierzeta-39-kart-box.jpg"></a>
        </div>
        <div class="col-md-4 karty-box-column" id="homepage-karta-2">
          <a href="{{site.produkty.karty.pierwszy-rok-zwierzeta-43.url}}"><img src="/img/karty-do-zdjec-pierwszy-rok-zycia-dziecka-zwierzeta-43-karty-box.jpg"></a>
        </div>
        <div class="col-md-4 karty-box-column" id="homepage-karta-3">
          <a href="{{site.produkty.karty.moje-9-miesiecy.url}}"><img src="/img/karty-do-zdjec-moje-9-miesiecy-ciaza-box.jpg"></a>
        </div>
        <div class="col-md-4 karty-box-column" id="homepage-karta-4" style="display: none;">
          <a href="{{site.produkty.karty.pierwszy-rok-kontrastowe.url}}"><img src="/img/karty-do-zdjec-pierwszy-rok-zycia-dziecka-kontrastowe-box.jpg"></a>
        </div>
      </div>
    </div>

    <div>
      <div class="row mb50">
        <div class="col-md-4 karty-box-column" id="homepage-plakat-1">
          <a href="{{site.produkty.plakaty.jelenie.url}}">
            <img src="{{site.produkty.plakaty.jelenie.imgSrcPrefix}}-glowne.jpg" width="100%">
          </a>
          <div class="text-right"><img src="/img/thing.jpg" /></div>
        </div>
        <div class="col-md-4 karty-box-column" id="homepage-plakat-2">
          <a href="{{site.produkty.plakaty.kosmos.url}}">
            <img src="{{site.produkty.plakaty.kosmos.imgSrcPrefix}}-glowne.jpg" width="100%">
          </a>
          <div class="text-right"><img src="/img/thing.jpg" /></div>
        </div>
        <div class="col-md-4 karty-box-column" id="homepage-plakat-3">
          <a href="{{site.produkty.plakaty.kosmos-alfabet.url}}">
            <img src="{{site.produkty.plakaty.kosmos-alfabet.imgSrcPrefix}}-glowne.jpg" width="100%">
          </a>
          <div class="text-right"><img src="/img/thing.jpg" /></div>
        </div>
        <div class="col-md-4 karty-box-column" id="homepage-plakat-4" style="display: none;">
          <a href="{{site.produkty.plakaty.samochody.url}}">
            <img src="{{site.produkty.plakaty.samochody.imgSrcPrefix}}-glowne.jpg" width="100%">
          </a>
          <div class="text-right"><img src="/img/thing.jpg" /></div>
        </div>
      </div>
    </div>

    <div id="carousel-papersmile" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <!--
      <ol class="carousel-indicators">
        <li data-target="#carousel-papersmile" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-papersmile" data-slide-to="1"></li>
        <li data-target="#carousel-papersmile" data-slide-to="2"></li>
        <li data-target="#carousel-papersmile" data-slide-to="3"></li>
      </ol>
      -->

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">

        {% for karta in site.produkty.karty %}
          <div class="item {% if forloop.first %}active{% endif %}">
            <a href="{{ karta[1].url}}"><img src="/img/{{ karta[1].img }}-karuzela.png " width="100%"></a>
          </div>
        {% endfor %}

      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-papersmile" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Poprzednie</span>
      </a>
      <a class="right carousel-control" href="#carousel-papersmile" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Następne</span>
      </a>
    </div>
    <div class="text-right">
      <img src="/img/thing.jpg" />
    </div>
        
{% include footer.html %}