{% include header.html %}

<div><!-- startfor -->
{% for item in site.produkty[page.configProductTypeKey] %}

  {% if forloop.index == 1 or forloop.index == 3 or forloop.index == 5 %}
  <div class="row mb50"><!-- if1 -->
  {% endif %}

    <div class="col-md-6" id="item-{{ forloop.index }}" >
      <a href="{{ item[1].url}}">
        <img src="{{ item[1].imgSrcPrefix}}-box.jpg" width="100%">
      </a>
      <div class="text-right"><img src="/img/thing.jpg" /></div>
    </div>

  {% if forloop.index == 2 or forloop.index == 4 or forloop.index == 6 %}
  </div><!-- if2 -->
  {% endif %}

{% endfor %}
</div><!-- endfor -->

{% include footer.html %}